body {
  background: #f2ebd7;
  font-family: "Gully";
}

@font-face {
  font-family: "AnchorJack";
  src: url("../fonts/AnchorJack.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Intrigora Medium";
  src: url("../fonts/Intrigora Medium.otf") format("opentype");
}

@font-face {
  font-family: "ZTBrosOskon90s";
  src: url("../fonts/ZTBrosOskon90s.otf") format("opentype");
}

@font-face {
  font-family: "Gully";
  src: url("../fonts/Gully-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Gully-bold";
  src: url("../fonts/Gully-Bold.otf") format("opentype");
}

button {
  font-family: inherit;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: 90vh;
  max-width: 900px;
  margin: 0 auto;
}

.landing-h1 {
  color: #502a27;
  font-family: "ZTBrosOskon90s";
  font-size: 100px;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  margin: 0;
}

.landing-subhead {
  color: #502a27;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

.rainbowstack {
  width: 84.154px;
  height: 82.303px;
  flex-shrink: 0;
  margin: 0 0 2% 0;
}

hr {
  border: 0.75px solid #502a27;
  width: 100%;
  margin: 2% 0 2% 0;
}

.button-list {
  width: 950px;
}

.landing-button {
  border-radius: 10px;
  border: 2px solid #502a27;
  color: #502a27;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: #f2ebd7;
  padding: 1% 1.5% 1% 1.5%;
  margin: 15px 5px 15px 0;
  flex: none;
}

.footer-button,
#nextLabel {
  border-radius: 30px;
  width: 100%;
  border: 2px solid #502a27;
  color: #502a27;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: #f2ebd7;
  padding: 8px 15px;
}

.footer-buttonGroup {
  margin: 0px 5px;
}

svg {
  stroke: #502a27;
}

svg:hover {
  fill: #502a27;
  stroke: #f2ebd7;
}

.landing-button:hover {
  border-radius: 10px;
  background: #502a27;
  color: #f2ebd7;
}

@media (max-width: 500px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    margin: 0 auto;
  }

  .landing-h1 {
    font-size: 50px;
    margin-top: 20px;
  }

  .landing-subhead {
    font-size: 14px;
  }

  hr {
    border: 0.75px solid #502a27;
    width: 100%;
    margin: 2% 0 2% 0;
  }
}

/* BAKERY PROFILE */

.entry {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: center; */
  max-width: 1000px;
  margin: 0 auto;
  height: 90vh;
}

.navbar-top {
  width: 100%;
}

.bakery-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.bakery-hed {
  color: #502a27;
  font-family: "AnchorJack";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2% 0 0 0;
}

.bakery-address {
  color: #502a27;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  padding-top: 10px;
}

.bakery-subhed {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.subhead {
  color: #502a27;
  text-align: center;
  font-family: "Intrigora Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
}

.bakery-notes > .subhead {
  text-align: start;
}

.callout {
  color: #a58567;
  font-family: "Hina Mincho";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.overall-cookie-notes {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.overall-cookie-notes > .callout {
  text-align: start;
}

.bakery-callout {
  margin: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.bakery-notes {
  padding-left: 1%;
  width: 50%;
}

.bakery-overall {
  display: flex;
  width: 100%;
  max-height: 165px;
}

.vline {
  border-left: 2px solid #502a27;
  margin: 0 1% 0 1%;
}

.bakery-scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.area-hed {
  color: #502a27;
  text-align: center;
  font-family: "Anchor Jack";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.image-area {
  width: 25%;
}

.images {
  width: 100%;
  max-height: 164px;
}

.overall-cookie-notes {
  width: 33%;
  margin: 0 1% 0 1%;
}

.cookie-tasters {
  display: flex;
  margin-bottom: 30px;
}

.section-scores {
  justify-content: space-between;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.scores {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1%;
}

.scores:first-child {
  margin: 0 1% 0 0;
}

.scores:last-child {
  margin: 0 0 0 1%;
}

#chart-average {
  width: 100%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart {
  width: 100%;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.para-text {
  color: #502a27;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.name {
  color: #502a27;
  font-family: "Anchor Jack";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1% 0 2% 0;
}

.title {
  color: #a58567;
  text-align: center;
  font-family: "Intrigora";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin: 0;
}

.vline:last-child {
  border: none;
  margin: 0%;
}

.close-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.close-buttons > .landing-button {
  font-size: 12px;
  margin-left: 10px;
}

.avgScoreRow {
  width: 100%;
  display: flex;
  gap: 10px;
  height: 100%;
}

.scoreBoxDiv {
  width: 40%;
  align-items: center;
  display: flex;
}

.scoreBoxes {
  border-radius: 4px;
  width: 100%;
  margin: 2%;
  aspect-ratio: 1/1;
  /* max-height: 2px; */
}

.labels {
  display: flex;
  flex-direction: column;
}

.catLabel {
  width: 40%;
  justify-content: end;
  align-self: center;
  text-align: end;
  text-transform: uppercase;
}

.valueLabel {
  width: 20%;
  justify-content: end;
  align-self: center;
  text-align: start;
  font-weight: 600;
}

.tastedScoreRow {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.catLabel-taster {
  color: #a58567;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  width: 50%;
}

.scoreBarDivs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scoreBars {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 2px 0 2px 0;
}

/* RESULTS PAGE */

.results,
.methodology {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: center; */
  max-width: 900px;
  margin: 0 auto;
  padding-top: 0px;
}

.buttonBar {
  display: flex;
  justify-content: center;
}

.buttonBar > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid #502a27;
  flex-shrink: 0;
  border-radius: 30px;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

.buttonBar-button {
  list-style: none;
  height: 30px;
  text-transform: uppercase;
  border-radius: 30px;
  width: 200%;
  text-align: center;
  align-content: center;
  color: #502a27;
}

.buttonBar-button:hover {
  background-color: #502a27;
  color: #f2ebd7;
}

.results-title {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.result-hed {
  color: #502a27;
  font-family: "ZTBrosOskon90s";
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  text-align: center;
}

.result-subead {
  width: 100%;
  color: #502a27;
  font-family: "Anchor Jack";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.filter-bar {
  width: 100%;
  display: flex;
  margin: 0;
}

.filter {
  width: 26%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #502a27;
  font-family: "Gully-bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
}

.filter-dropdown {
  min-width: 100%;
  border-radius: 10px;
  border: 2px solid #502a27;
  background-color: #f2ebd7;
  padding: 8px 8px 8px 8px;
  color: #502a27;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.filter-label a:hover {
  background-color: #f2ebd7;
}

.filter-bar > .vline {
  margin: 0 2% 0 2%;
  padding-left: 0;
}

.sort {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.sort-ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sort-button {
  color: #502a27;
  font-family: "Gully";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
}

.sort-button {
  color: #502a27;
  font-family: "Gully";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.awards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.award-ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.award-button {
  color: #502a27;
  font-family: "Gully";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 33%;
}

.awardbtn {
  color: #502a27;
  font-family: "Gully";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  width: 33%;
}

.view {
  width: 20%;
}

.bestArea {
  display: flex;
  flex-direction: column;
}

.best-visuals {
  width: 29%;
  display: flex;
  flex-direction: column;
}

.best-superlative > .label {
  margin: 0;
}

.label-hed {
  color: #502a27;
  font-family: "ZTBrosOskon90s";
  font-size: 48px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.label-asof {
  color: #502a27;
  font-family: "Gully";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
}

.best-visuals > svg {
  align-self: end;
  padding-right: 5px;
}

.best-row {
  display: flex;
  width: 100%;
}

#best-chart {
  width: 29%;
  display: flex;
  flex-direction: column;
}

.best-hed {
  display: flex;
  flex-direction: wrap;
  width: 40%;
}

.best-ratings {
  width: 29%;
  display: flex;
  flex-direction: column;
}

#best-hedbakery {
  color: #502a27;
  font-family: "Anchor Jack";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.restOfBest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bakery-restOf {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  border: 2px solid rgba(0, 0, 0, 0);
}

.bakery-restOf:first-child {
  display: flex;
}

.bakery-restOf:first-child > .bakery-item-rank,
.bakery-restOf:first-child > .bakery-item-cost,
.bakery-restOf:first-child > .bakery-item-sub {
  display: none;
}

.bakery-restOf:first-child > .bakery-item-name {
  order: 1;
  color: #502a27;
  font-family: "Anchor Jack";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
  width: 50%;
  font-size: calc(2vw + 1vh);
  text-align: start;
  margin-left: 0;
  margin: 0;
}

.bakery-restOf:first-child > .chart-restOf {
  width: 29%;
  flex-direction: column;
}

.bakery-restOf:first-child > .resultbuttonArea {
  order: 2;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.bakery-restOf:first-child > .resultbuttonArea > .roundbutton {
  border-radius: 30px;
  border: 2px solid #502a27;
  flex-shrink: 0;
  padding: 3% 5%;
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 2%;
}

.bakery-restOf:first-child > .resultbuttonArea > .roundbutton:hover {
  background-color: #502a27;
  color: #f2ebd7;
}

.bakery-restOf ~ .bakery-restOf {
  flex-basis: calc(100% / 3 - 30px);
  background: #eae0c6;
}

.chart-restOf {
  display: flex;
  width: 80%;
  justify-content: center;
}

.bakery-item-rank {
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0px;
}

.bakery-item-name {
  color: #3c2415;
  text-align: center;
  font-family: "Anchor Jack";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 10px 15px 10px 15px;
}

.bakery-item-cost {
  color: #502a27;
  text-align: center;
  font-family: "Hina Mincho";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px;
}

.bakery-item-sub {
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 10px;
}

.chart-restOf > .scoreBarDivs {
  text-align: right;
}

.catLabel-result {
  color: #a58567;
  text-align: right;
  font-family: "Gully";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.65px;
  text-transform: uppercase;
}

.chart-restOf > .scoreBarDivs {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.chart-restOf > .labels {
  width: 40%;
  margin-right: 10px;
}

.resultbuttonArea:not(:first-child) {
  display: none;
}

.resultLine ~ .resultLine {
  display: none;
}

.btn {
  padding: 3% 6%;
  cursor: default;
  border-radius: 10px;
  border: 2px solid #502a27;
  box-shadow: var(--shadow);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #502a27;
  background-color: #f2ebd7;
  width: 100%;
  position: relative;
  display: flex;
  text-align: start;
}

.bx {
  font-size: 1.1rem;
}

input[type="radio"] {
  visibility: hidden;
  display: none;
}

[name="bestOf"]:checked + label {
  font-family: "Gully-bold";
  font-weight: bold;
}

[name="sortDirection"]:checked + label {
  font-family: "Gully-bold";
  font-weight: bold;
}

.bakery-restOf:hover:not(:first-child) {
  border-radius: 10px;
  border: 2px solid #502a27;
}

/* METHODOLOGY PAGE */

.topNav {
  display: flex;
  height: 40px;
}

.buttonDiv {
  display: flex;
  flex-basis: calc(100% / 5);
  justify-content: center;
  align-items: center;
}

.pageButton {
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: inherit;
  cursor: pointer;
  align-items: center;
}

.pageButton:hover {
  font-family: "Gully-bold";
}

.intro {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.intro-rainbowimage {
  width: 30%;
}

.intro-rainbowimage > svg {
  height: 100%;
}

.intro-textArea {
  width: 70%;
}

.intro-text {
  color: #502a27;
  font-family: Gully;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro-title {
  color: #502a27;
  font-family: "ZTBrosOskon90s";
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin: 20px 0 20px 0;
}

.desc-title {
  color: #502a27;
  font-family: "ZTBrosOskon90s";
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin: 10px 0 20px 0;
  text-align: center;
}

.desc-area {
  display: flex;
  margin-bottom: 30px;
}

.desc-image {
  width: 30%;
}

.desc-image > svg {
  height: 100%;
  width: auto;
}

.desc-text {
  width: 60%;
}

.numberCircle {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  border: 2px solid #502a27;
  text-align: center;
  stroke-width: 2px;
  color: #502a27;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Gully";
  font-size: 16px;
  margin-right: 10px;
}

.desc-point {
  display: flex;
}

.desc-text > div {
  margin: 30px 0 20px 0;
}

.desc-text-title {
  color: #502a27;
  font-family: "Gully-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.desc-text-para {
  margin-left: 40px;
}

.backgroundArea {
  display: flex;
}

.background-list {
  width: 30%;
  flex-shrink: 1;
  border-radius: 10px;
  background: #eae0c6;
  padding: 20px;
  height: 100%;
}

.background-title {
  color: #a58567;
  font-family: "Anchor Jack";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin: 0px;
}

.background-list > ol > li {
  color: #a58567;
  font-family: Gully;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.bold {
  font-family: "Gully-bold";
}

.background-paraText {
  color: #502a27;
  font-family: Gully;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.background-text {
  width: 60%;
  padding-left: 30px;
}

.title-line {
  display: table;
  white-space: nowrap;

  &:before,
  &:after {
    border-top: 1px solid #a58567;
    content: "";
    display: table-cell;
    position: relative;
    top: 0.6em;
    width: 45%;
  }

  &:before {
    right: 1.5%;
  }

  &:after {
    left: 1.5%;
  }
}

td {
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-self: center;
  border: 2px solid #a58567;
  padding: 16px;
}

th,
thead {
  color: #502a27;
  text-align: center;
  font-family: "ZTBrosOskon90s";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid #a58567;
  padding: 16px;
  background-color: #eae0c6;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  margin-bottom: 3%;
}
tr:first-of-type > th {
  padding: 9px 5px 5px 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.tasters {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.taster {
  display: flex;
  margin-bottom: 30px;
}

.taster-notes {
  width: 30%;
  align-self: center;
  padding: 0 20px 0 10px;
}
.taster-profile {
  width: 70%;
  padding: 0 0 0 30px;
}

.taster-hed {
  color: #a58567;
  font-family: "Intrigora Medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.taster-body {
  color: #a58567;
  font-family: "Gully";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.taster-name {
  color: #502a27;
  font-family: "Anchor Jack";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
}

.taster-subhed {
  color: #502a27;
  font-family: "Intrigora Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin: 0px;
}

.profile-img {
  max-width: 100%;
  margin-top: 20px;
}

.space {
  padding-top: 10px;
}

hr:last-of-type {
  margin-top: 30px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #502a27;
}

footer a {
  text-transform: uppercase;
  padding: 0 5px 0 5px;
}

.modal {
  position: fixed;
  height: 600px;
  top: calc(50vh - 300px);
  z-index: 100;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn-close {
  justify-content: center;
  padding: 0;
  background-color: #f2ebd780;
  padding-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f2ebd7cc;
  backdrop-filter: blur(9px);
  z-index: 1;
}

.modal {
  z-index: 2;
}

.hidden {
  display: none;
}

.modalBtn {
  text-transform: uppercase;
  padding: 0 5px 0 5px;
  text-decoration: none;
  color: #502a27;
  cursor: default;
}

.modal > p {
  color: #502a27;
  font-family: "Gully";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.modal > h3 {
  color: #502a27;
  font-family: "ZTBrosOskon90s";
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  margin: 0px;
}

.modal > div {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.modal > div > .roundbutton:first-of-type {
  border-radius: 30px;
  border: 2px solid #502a27;
  padding: 3% 3%;
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-right: 5px;
}

.modal > div > .roundbutton:last-of-type {
  border-radius: 30px;
  border: 2px solid #502a27;
  padding: 3% 3%;
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-left: 30px;
}

.mainRec {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rec-h1 {
  color: #502a27;
  font-family: "Anchor Jack";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rec-subhead {
  color: #502a27;
  font-family: "Gully";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: center;
}

form > p,
form > label {
  color: #502a27;
  font-family: "ZT Bros Oskon 90s";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 187.5% */
}

.form {
  width: 90%;
  align-self: center;
  background-color: #f2ebd7;
}

form > div > .roundbutton {
  border-radius: 30px;
  border: 2px solid #502a27;
  padding: 1.5% 1.5%;
  color: #502a27;
  text-align: center;
  font-family: "Gully";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-right: 5px;
  background-color: #f2ebd7;
  width: 150px;
}

form > div > .roundbutton:hover {
  background-color: #3c2415;
  color: #f2ebd7;
}

input[type="text"],
input[type="email"] {
  border-radius: 7px;
  border: 1px solid #a58567;
  background: #eae0c6;
  height: 36px;
  transform: translateY(-5px);
}

#email,
#bakery,
#name {
  color: #a58567;
  font-family: "Gully";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
